---
---

::-webkit-scrollbar {
    width: 2px;
}

body{
/* font */  
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 18px;

color: #0500FF;
    
-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */     
}

a{color: #0500FF;}

.box:hover{
    background: #0500FF;
    color:white;
}

#nav{/* nav bar */
position: fixed;
width: 675px;
height: 188px;
left: 0px;
top: 0px;}

#home{/* home button */

position: absolute;
left: 8%;
right: 78.37%;
top: 51.6%;
bottom: 26.06%;
}

#about{/* about button */

position: absolute;
left: 30.22%;
right: 56.15%;
top: 51.6%;
bottom: 26.06%;
}

#projects{/* project button */

position: absolute;
left: 52.44%;
right: 33.93%;
top: 51.6%;
bottom: 26.06%;
}

#shows{/* shows button */

position: absolute;
left: 74.67%;
right: 11.7%;
top: 51.6%;
bottom: 26.06%;
}

.box{/* Rectangle */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
border: 1px solid #0500FF;
box-sizing: border-box;
    
}

#home .cat{
position: absolute;
left: 23.91%;
right: 22.83%;
top: 21.43%;
bottom: 19.05%;
}

#about .cat{/* about */

position: absolute;
left: 22.83%;
right: 22.83%;
top: 21.43%;
bottom: 19.05%;
}

#projects .cat{position: absolute;
left: 13.04%;
right: 13.04%;
top: 21.43%;
bottom: 19.05%;}

#shows .cat{position: absolute;
left: 20.65%;
right: 20.65%;
top: 21.43%;
bottom: 19.05%;
}

.body_frame{/* Frame 2 */
overflow: scroll;
position: fixed;
width: 542px;
/*height: 475px;*/
left: 54px;
top: 200px;
bottom: 50px;

}

.body_text{
position: absolute;
left: 0%;
right: 0%;
top: 0%;
}

.list_frame{/* Frame 2 */
overflow: scroll;
position: fixed;
width: 300px;
/*height: 475px;*/
left: 54px;
top: 200px;
bottom: 50px;

}

img{width:100%;}

.list_text{
position: absolute;
left: 0%;
right: 0%;
top: 3%;
}

.project_frame{/* Frame 2 */
overflow: scroll;
position: fixed;
/*width: 828px;*/
/*height: 475px;*/
width: 50%;
left: 323px;
right: 50px;
top: 200px;
bottom: 50px;
}

.project_body{
position: absolute;
left: 0%;
right: 0%;
top: 0%;
}

.project_list{
    background-color: blue;
    color: white;
    text-decoration: none;
}

.project_list:hover{
    background-color: white;
    color: blue;
    text-decoration: none;
}

img{
    filter: grayscale(100%);

    margin-bottom: 50px;
}

img:hover{filter:none;}

/* responsive design*/

@media only screen and (max-width: 600px) {
    img{width:100%;}
#nav{/* nav bar */
overflow-x: scroll;
position: absolute;
height: 191px;
left: 0px;
right: 0px;
top: -70px;}
    
    .body_frame{/* Frame 2 */
//overflow-y: scroll;
position: fixed;
//width: 291px;
width: 76%;
//height: 444px;
left: 46px;
top: 91px;
bottom: 50px;
border: 1px solid #0500FF;

}

.body_text{
position-y: absolute;
left: 2%;
right: 2%;
top: 0%;
bottom: 0%;
}

.list_frame{/* Frame 2 */
overflow: scroll;
position: fixed;
//width: 291px;
    width: 76%;
height: 150px;
left: 46px;
top: 91px;

border: 1px solid #0500FF;

}

.list_text{
position: absolute;
left: 2%;
right: 2%;
top: 5%;
}

.project_frame{/* Frame 2 */
overflow: scroll;
position: fixed;
/*width: 828px;*/
/*height: 475px;*/
//width: 291px;
//height: 407px;
    width: 76%;
left: 46px;
top: 257px;
bottom: 50px;

border: 1px solid #0500FF;
}

.project_body{
position: absolute;
left: 0%;
right: 0%;
top: 0%;
}

.project_list{
    background-color: blue;
    color: white;
    text-decoration: none;
}
}