<!DOCTYPE html>
<html id="main">
<head>
<title>media_rins</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Yantramanav" rel="stylesheet">
</head>

<body>
    <div id="menu">
        <ul>
          <li><a href="pages/about.html">about</a></li>
          <li><a href="pages/artists.html">artists</a></li>
          <li><a href="pages/events.html">events</a></li>
          <li><a href="pages/store.html">store</a></li>
        </ul>
    </div>
     <div id="content">
        
    </div>
</body>

</html>
