#main body {
    background-color: white;
  
    
    background-size: 100%;
}

body {
    background-color: black;
}

@media (max-width: 767px) {
  .pages #menu {
    display: none !important;
  }
    #content {
        margin-left: 10% !important;
        width: 80% !important;
    }
}

#content {
    color:white;
    font-family: 'Yantramanav', sans-serif;
    font-size: 30px;
    width: 50%;
    margin-left: 30%;
}

#content a{
    color:blue;
    display: block;
    text-decoration: none;
}

#content a:hover{
    color:white;
    background-color: blue;
}

#content {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-left:300px;
  margin-right:40px;
  height: 550px;
  width:1000px;
}

.profile {
    display: inline-block;
    margin-left: 40px;
}

.profile a{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.profile a:hover{
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    padding: 0px;
    padding-bottom: -10px;
    box-shadow: blue 10px 0px;
}


#flag {
    margin-left:-10px;
    margin-top:300px;
    filter:invert(100%);
}

#menu {
    display: inline-block;
    
}

#menu ul {
    list-style-type: none;
    position: fixed;
}

#menu li a {
    display: block;
    font-size: 50px;
    text-decoration: none;
    color:white;
    font-family: 'Yantramanav', sans-serif;
    font-style: italic;
}


#menu li a:hover {
    background-color: white;
    color:black;
}

#back {
    position: fixed;
    width:100%;
    bottom:0px;
    display: inline-block;
}

#back a{
    margin-left: -10px;
    color:white;
    text-decoration: none;
    font-size: 100px;
    display: block;
}

#back a:hover{
    background-color: white;
    color:black;
}

* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
